<%= link_to 'Log out', destroy_user_session_path, method: :delete %>
<%= link_to 'See the Fav. list', fav_videos_path, class: 'btn btn-success btn-lg ml-1 mt-1' %>
<hr>
<div class="container">
  <div class="row">
    <div class="col-12 col-md-11 mx-md-auto col-lg-9 mx-lg-auto">
      <% @videos.each do |video| %>
        <div class="card shadow rounded-0 mt-3">
          <div class="card-body">
            <div class="row">
              <div class="col-12 col-md-4 col-lg-3">
                <iframe width="100%" height="200"
                src="<%= video.yt_url %>">
                </iframe>
              </div>
              <div class="col-12 col-md-8 col-lg-9">
                <h3><%= link_to video.title, 'javascript:void(0)' %></h3>
                <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution.</p>            
                <% if user_signed_in? && @user_fav_video_ids.include?(video.id) %>
                  <%= link_to 'Remov from favourite', remove_from_favourite_video_path(video), method: :post, class: 'btn btn-danger btn-lg mt-3' %>
                <% else %>  
                  <%= link_to 'Add to favourite', add_to_favourite_video_path(video), method: :post, class: 'btn btn-primary btn-lg mt-3' %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
